@import url("../fonts/Montserrat/Montserrat.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body nav.main-nav {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  height: 70px;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  position: relative;
}

body nav.main-nav div.nav-logo {
  margin-right: auto;
}

body nav.main-nav div.nav-logo img {
  height: 48px;
}

body nav.main-nav div.nav-logo img.mobile-logo {
  display: none;
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-logo img.mobile-logo {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-logo img.logo-image {
    display: none;
  }
}

body nav.main-nav div.nav-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav.main-nav div.nav-item-container div.nav-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body nav.main-nav div.nav-item-container div.nav-item a.nav-link-custom {
  display: block;
  line-height: 70px;
  color: #6e6e6e;
  text-decoration: none;
  padding-right: 30px;
  font-size: 18px;
}

body nav.main-nav div.nav-item-container div.nav-item a.nav-link-custom:hover {
  color: #000;
}

body nav.main-nav div.nav-item-container div.nav-item a.nav-link-custom.active {
  font-weight: bold;
  color: #000;
}

body nav.main-nav div.hamburger {
  cursor: pointer;
  width: 44px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body nav.main-nav div.hamburger div.hamburger-bar-1 {
  width: 100%;
  height: 4px;
  background-color: #FFC928;
}

body nav.main-nav div.hamburger div.hamburger-bar-2 {
  width: 30px;
  height: 4px;
  background-color: #FFC928;
  margin-top: 12px;
}

body nav.main-nav.show-drawer div.nav-drawer-outer {
  visibility: visible;
}

body nav.main-nav.show-drawer div.nav-drawer-outer div.nav-drawer {
  right: 0;
}

body nav.main-nav.show-drawer div.hamburger div.hamburger-bar-1 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body nav.main-nav.show-drawer div.hamburger div.hamburger-bar-2 {
  width: 100%;
  margin-top: 0;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body nav.main-nav div.nav-drawer-outer {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

body nav.main-nav div.nav-drawer-outer .nav-drawer-holder {
  width: calc(100% - 320px);
  height: 100vh;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer {
  position: absolute;
  display: block;
  width: 320px;
  top: 0;
  right: -320px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: -4px 0 60px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 0 60px rgba(0, 0, 0, 0.3);
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner {
  margin-top: 96px;
  height: calc(100vh - 96px);
  overflow-y: auto;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom {
  padding: 0 40px 0 66px;
  display: block;
  line-height: 40px;
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.active, body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom:hover {
  background-color: #FFC928;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.sub-parent::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f053";
  position: absolute;
  left: 34px;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.sub-parent.open-sub::before {
  content: "\f054";
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.sub-parent::before {
    content: "\f078";
  }
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.sub-parent.open-sub {
    background-color: #FFC928;
  }
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item a.nav-link-custom.sub-parent.open-sub::before {
    content: "\f077";
  }
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub {
  position: absolute;
  min-width: 290px;
  right: 360px;
  top: 110px;
  background-color: #fff;
  padding: 30px 0;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub {
    position: relative;
    top: unset;
    right: unset;
    background-color: #F7F7F7;
    padding: 0;
    height: 0;
    -webkit-transition: none;
    transition: none;
  }
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub.show-sub {
    height: auto;
  }
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub a.nav-link-custom {
    padding-left: 60px !important;
  }
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub.show-sub {
  visibility: visible;
  opacity: 1;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub a.nav-link-custom {
  color: #000;
  line-height: 36px;
  font-size: 14px;
  padding: 0 30px;
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub a.nav-link-custom {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub a.nav-link-custom.active, body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub a.nav-link-custom:hover {
  background-color: #FFC928;
}

body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub::before {
  content: "";
  border-left: 24px solid #fff;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  position: absolute;
  right: -24px;
  top: 0;
}

@media screen and (max-width: 1024px) {
  body nav.main-nav div.nav-drawer-outer div.nav-drawer .nav-drawer-inner div.nav-item div.sub::before {
    display: none;
  }
}

body .slider-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px !important;
  position: absolute;
  bottom: 24px;
  margin: 0 auto;
}

body .slider-bar-container .slider-bar {
  height: 6px;
  background-color: rgba(155, 155, 155, 0.49);
  width: 100%;
  margin: 0 4px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in !important;
  transition: all .5s ease-in !important;
}

body .slider-bar-container .slider-bar.active {
  background-color: rgba(255, 201, 40, 0.72);
  width: 142px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body div.slider-content {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 538px;
}

body div.slider-content div.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: center/cover no-repeat url("../images/dam-4260531_1920.jpg");
  -webkit-filter: brightness(60%) hue-rotate(-25deg);
          filter: brightness(60%) hue-rotate(-25deg);
  z-index: -1;
}

body div.slider-content div.bg-image.fade {
  opacity: 0;
}

body div.slider-content #main-content-inner {
  padding: 0 40px;
}

body div.slider-content div.big-dialog, body div.slider-content div.dialog {
  max-width: 1054px;
}

body div.slider-content div.big-dialog {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.slider-content div.big-dialog p.dialog-content {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
}

body div.slider-content div.big-dialog p.dialog-content span.regular-highlight {
  color: #FFC928;
}

body div.slider-content div.big-dialog::before, body div.slider-content div.big-dialog::after {
  content: "";
  display: block;
  width: 150px;
  height: 98px;
  background-color: #FFC928;
  -webkit-clip-path: polygon(30px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
          clip-path: polygon(30px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}

body div.slider-content div.big-dialog::before {
  margin-left: auto;
  margin-bottom: 16px;
}

body div.slider-content div.big-dialog::after {
  margin-top: 16px;
}

body div.slider-content div.dialog h1.title {
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  color: #FFC928;
  margin: 20px 0;
}

body div.slider-content div.dialog div.dialog-content {
  color: #fff;
  font-size: 18px;
}

body div.slider-content div.dialog div.dialog-content.cols-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(50% - 10px))[2];
      grid-template-columns: repeat(2, calc(50% - 10px));
  grid-column-gap: 20px;
}

body div.slider-content div.dialog div.dialog-content.cols-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(calc(100% / 3) - calc(40px / 3)))[3];
      grid-template-columns: repeat(3, calc(calc(100% / 3) - calc(40px / 3)));
  grid-column-gap: 20px;
}

body div.slider-content div.dialog div.dialog-content h2.sub-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

body div.slider-content div.dialog div.dialog-content ul {
  padding-left: 18px;
}

body div.slider-content div.dialog div.dialog-content ul li {
  line-height: 28px;
}

body .jumbotron.jumbotron-fluid {
  height: calc(100vh - 70px);
  position: relative;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

body .jumbotron.jumbotron-fluid .bungkus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body .jumbotron.jumbotron-fluid .bungkus .blur {
  background-image: url("../images/gints-gailis-dn8xoYmzLZg-unsplash.jpg");
  background-size: cover;
  height: 101%;
  width: 101%;
  -webkit-filter: blur(2px) brightness(60%) hue-rotate(-25deg);
          filter: blur(2px) brightness(60%) hue-rotate(-25deg);
  position: absolute;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container {
  padding: 26px 80px;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container .judul-top.hidden {
  visibility: hidden;
  opacity: 0;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container .judul-top h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container .judul-top h1 span {
  color: #FFC928;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container .judul-top p {
  font-weight: 500;
  font-size: 13px;
  color: white;
  padding: 0;
  margin: 0 0 0 17px;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container form.search-form {
  margin-left: auto;
}

body .jumbotron.jumbotron-fluid .berita-container .judul-top-container form.search-form button {
  position: absolute;
  top: 0;
  right: 0;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll {
  padding: 0;
  overflow-x: auto;
  max-width: 100%;
  height: calc(100vh - 166px);
  scrollbar-color: #ffffff47 transparent;
  scrollbar-width: thin;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner {
  padding: 0 500px 0 40px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .card {
  height: calc(33% - 10px) !important;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index.first .card.berita-populer {
  height: 58% !important;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index.first .card.populer {
  height: 40px !important;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index.first .card.berita {
  height: calc(30% - 20px) !important;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .tag {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #163A70;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index span.tag {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #6D6D6D;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .content h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #163A70;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .content .tagline {
  font-size: 10px;
  line-height: 12px;
  color: #6A6A6A;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .content .maincontent {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #000000;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .left {
  width: 50%;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .left .kategori p {
  font-size: 14px;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .index .right .image {
  background-image: url("../images/gerbang tol pandaan-malang.jpeg");
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .judul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
  justify-content: center;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .judul.hidden {
  opacity: 0;
  visibility: hidden;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .judul h1 {
  color: white;
  font-size: 48px;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .judul h1 span {
  color: #FFC928;
}

body .jumbotron.jumbotron-fluid .berita-container .container.scroll .scroll-inner .judul p {
  color: white;
  font-size: 14px;
}

body form.search-form {
  position: relative;
  width: 384px;
}

body form.search-form input[type=text] {
  background-color: #fff;
  width: 100%;
  line-height: 40px;
  padding: 0 89px 0 20px;
  border: 0;
}

body form.search-form input[type=text]::-webkit-input-placeholder {
  font-size: 14px;
  color: #969696;
  opacity: 1;
}

body form.search-form input[type=text]:-ms-input-placeholder {
  font-size: 14px;
  color: #969696;
  opacity: 1;
}

body form.search-form input[type=text]::-ms-input-placeholder {
  font-size: 14px;
  color: #969696;
  opacity: 1;
}

body form.search-form input[type=text]::placeholder {
  font-size: 14px;
  color: #969696;
  opacity: 1;
}

body form.search-form button {
  position: absolute;
  line-height: 40px;
  padding: 0 10px;
  top: 0;
  right: 0;
  border: 0;
  font-size: 14px;
  background-color: #163A70;
  color: #fff;
}

body main.main-berita {
  overflow: hidden;
}

body main.main-berita div.berita-inner {
  padding: 46px 40px 21px;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1028px;
}

body main.main-berita div.berita-inner .breadcrumbs {
  line-height: 40px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body main.main-berita div.berita-inner .breadcrumbs span {
  color: rgba(22, 58, 112, 0.69);
}

body main.main-berita div.berita-inner .breadcrumbs span.current {
  color: #000;
  font-weight: 500;
  font-size: 24px;
}

body main.main-berita div.berita-inner .timestamp {
  font-size: 12px;
  line-height: 40px;
  color: rgba(22, 58, 112, 0.69);
}

body main.main-berita div.berita-inner article.berita-content {
  height: calc(100vh - 400px);
  position: relative;
}

body main.main-berita div.berita-inner article.berita-content .berita-image {
  width: 368px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: center center/cover url("");
}

body main.main-berita div.berita-inner article.berita-content .berita-text {
  width: auto;
  margin-left: 70px;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
  line-height: 30px;
  padding-right: 6px;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
}

body main.main-berita div.berita-inner article.berita-content .berita-text span.city {
  font-weight: 600;
}

body main.main-berita .social-media {
  position: fixed;
  top: calc(50% - 90px);
  right: 0;
  font-size: 32px;
}

body main.main-berita .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 68px;
  color: #fff;
}

body main.main-berita .social-media a.facebook {
  background-color: #163A70;
}

body main.main-berita .social-media a.instagram {
  background-color: #FC5199;
}

body main.main-berita .social-media a.twitter {
  background-color: #1da1f2;
}

body .berita-terkini-cards .berita-terkini-judul {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0;
}

body .berita-terkini-cards .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(25% - 15px))[4];
      grid-template-columns: repeat(4, calc(25% - 15px));
  grid-column-gap: 20px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
}

body .berita-terkini-cards .card-container .berita-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
}

body .berita-terkini-cards .card-container .berita-card a.link-judul {
  font-size: 14px;
  line-height: 17px;
  color: #6D6D6D;
  display: block;
  padding: 10px;
  max-height: 64px;
  overflow: hidden;
}

body .berita-terkini-cards .card-container .berita-card a.button-baca {
  display: block;
  line-height: 29px;
  font-size: 14px;
  color: #fff;
  background-color: #163A70;
  text-align: center;
  margin-top: auto;
}

body main.main-content {
  display: none;
}

@media screen and (max-width: 1024px) {
  body main.main-content {
    display: block;
  }
}

body main.main-content a.baca-lengkap {
  width: 330px;
  line-height: 48px;
  text-align: center;
  background-color: #163A70;
  font-size: 12px;
  color: #fff;
  display: block;
}

body main.main-content a.massive-btn {
  display: block;
  max-width: 690px;
  line-height: 68px;
  background-color: #163A70;
  color: #fff;
  text-align: center;
  margin: 20px auto 0;
}

body main.main-content section.berita-populer {
  padding: 40px;
  position: relative;
  z-index: 2;
}

body main.main-content section.berita-populer .berita-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 336px;
}

body main.main-content section.berita-populer .berita-content .berita-main {
  margin-right: 20px;
}

body main.main-content section.berita-populer .berita-content .berita-main .populer-tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  color: #163A70;
}

body main.main-content section.berita-populer .berita-content .berita-main .berita-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

body main.main-content section.berita-populer .berita-content .berita-main .timestamp {
  font-size: 14px;
  line-height: 17px;
}

body main.main-content section.berita-populer .berita-content .berita-main .berita-text {
  font-size: 14px;
  line-height: 30px;
  margin: 16px 0;
}

body main.main-content section.berita-populer .berita-content .berita-image {
  width: 468px;
  height: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: center/cover url("");
}

body main.main-content section.berita-populer form.search-form {
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  position: absolute !important;
  bottom: -20px;
  left: calc(50% - 192px);
}

body main.main-content section.berita-terkini {
  padding: 60px 40px 40px;
  position: relative;
  background-color: #EDEDED;
}

body main.main-content section.berita-terkini .berita-terkini-tag {
  color: #163A70;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  display: block;
}

body main.main-content section.berita-terkini div.first-berita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main.main-content section.berita-terkini div.first-berita .berita-image {
  width: 315px;
  height: 367px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: center/cover url("");
}

body main.main-content section.berita-terkini div.first-berita div.berita-main {
  margin-left: 20px;
}

body main.main-content section.berita-terkini div.first-berita div.berita-main .berita-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

body main.main-content section.berita-terkini div.first-berita div.berita-main .timestamp {
  font-size: 14px;
  line-height: 17px;
}

body main.main-content section.berita-terkini div.first-berita div.berita-main .berita-text {
  font-size: 14px;
  line-height: 30px;
  margin: 16px 0;
}

body main.main-content section.berita-terkini div.berita-terkini-cards {
  margin-top: 20px;
}

body main.main-content section.berita-terkini div.berita-terkini-cards .card-container {
  -ms-grid-rows: 140px;
      grid-template-rows: 140px;
}

body main.main-content section.galeri-video {
  padding: 30px 40px;
}

body main.main-content section.galeri-video .video-tag {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

body main.main-content section.galeri-video .video-container {
  max-width: 692px;
}

body main.main-content section.galeri-video .video-container .video-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

body main.main-content section.galeri-video .video-container .video-items .video-thumbnail {
  width: 190px;
  height: 141px;
  background: center/cover url("");
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body main.main-content section.galeri-video .video-container .video-items .video-content-wrapper {
  margin-left: 26px;
}

body main.main-content section.galeri-video .video-container .video-items .video-content-wrapper a h2.video-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

body main.main-content section.galeri-video .video-container .video-items .video-content-wrapper .timestamp {
  font-size: 14px;
  line-height: 17px;
  color: #544F4F;
}

body main.main-content section.galeri-video .video-container .video-items .video-content-wrapper article.berita-text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 30px;
}

/* css manual */
.galeri-foto{
  padding: 30px 40px;
}
.foto-tag{
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

ul.foto{
  margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 90%;
    overflow-x: auto;
}

ul.foto li{
  display: inline;
  width: 100px;
  height: 150px;
}
/*# sourceMappingURL=style.css.map */