@import url("../fonts/Montserrat/Montserrat.css");

@mixin for-tablet-landscape {
    @media screen and (max-width: 1024px) {@content;}
}

@mixin for-tablet-portrait {
    @media screen and (max-width: 768px) {@content;}
}

@mixin for-phone {
    @media screen and (max-width: 380px) {@content;}
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    nav.main-nav {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 70px;
        box-shadow: 0px 5px 6px rgba(0,0,0,0.2);
        z-index: 9999;
        position: relative;

        div.nav-logo {
            margin-right: auto;

            img {
                height: 48px;

                &.mobile-logo {
                    display: none;

                    @include for-tablet-landscape {
                        display: block;
                    }
                }

                &.logo-image {
                    @include for-tablet-landscape {
                        display: none;
                    }
                }
            }
        }

        div.nav-item-container {
            display: flex;

            div.nav-item {
                flex-shrink: 0;

                a.nav-link-custom {
                    display: block;
                    line-height: 70px;
                    color: #6e6e6e;
                    text-decoration: none;
                    padding-right: 30px;
                    font-size: 18px;
    
                    &:hover {
                        color: #000;
                    }
    
                    &.active {
                        font-weight: bold;
                        color: #000;
                    }
                }
            }
        }

        div.hamburger {
            cursor: pointer;
            width: 44px;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            z-index: 1;
            position: relative;
            flex-shrink: 0;

            div.hamburger-bar-1 {
                width: 100%;
                height: 4px;
                background-color: #FFC928;
            }

            div.hamburger-bar-2 {
                width: 30px;
                height: 4px;
                background-color: #FFC928;
                margin-top: 12px;
            }
        }

        &.show-drawer {
            div.nav-drawer-outer {
                visibility: visible;

                div.nav-drawer {
                    right: 0;
                }
            }

            div.hamburger {
                div.hamburger-bar-1 {
                    position: absolute;
                    transform: rotate(-45deg);
                }

                div.hamburger-bar-2 {
                    width: 100%;
                    margin-top: 0;
                    position: absolute;
                    transform: rotate(45deg);
                }
            }
        }

        div.nav-drawer-outer {
            position: absolute;
            right: 0;
            top: 0;
            overflow: hidden;
            width: 100%;
            height: 100vh;
            visibility: hidden;

            .nav-drawer-holder {
                width: calc(100% - 320px);
                height: 100vh;
            }

            div.nav-drawer {
                position: absolute;
                display: block;
                width: 320px;
                top: 0;
                right: -320px;
                height: 100vh;
                background-color: #fff;
                box-shadow: -4px 0 60px rgba(0,0,0,0.3);
    
                .nav-drawer-inner {
                    margin-top: 96px;
                    height: calc(100vh - 96px);
                    overflow-y: auto;
    
                    div.nav-item {
                        a.nav-link-custom {
                            padding: 0 40px 0 66px;
                            display: block;
                            line-height: 40px;
                            position: relative;
                            color: #000;
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: 500;
    
                            &.active, &:hover {
                                background-color: #FFC928;
                            }
    
                            &.sub-parent::before {
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                content: "\f053";
                                position: absolute;
                                left: 34px;
                            }

                            &.sub-parent.open-sub::before {
                                content: "\f054";
                            }

                            @include for-tablet-landscape {
                                &.sub-parent::before {
                                    content: "\f078";
                                }

                                &.sub-parent.open-sub {
                                    background-color: #FFC928;

                                    &::before {
                                        content: "\f077";
                                    }
                                }
                            }
                        }
    
                        div.sub {
                            position: absolute;
                            min-width: 290px;
                            right: 360px;
                            top: 110px;
                            background-color: #fff;
                            padding: 30px 0;
                            visibility: hidden;
                            opacity: 0;
                            white-space: nowrap;

                            @include for-tablet-landscape {
                                position: relative;
                                top: unset;
                                right: unset;
                                background-color: #F7F7F7;
                                padding: 0;
                                height: 0;
                                transition: none;

                                &.show-sub {
                                    height: auto;
                                }

                                a.nav-link-custom {
                                    padding-left: 60px !important;
                                }
                            }

                            &.show-sub {
                                visibility: visible;
                                opacity: 1;
                            }
                            
                            a.nav-link-custom {
                                color: #000;
                                line-height: 36px;
                                font-size: 14px;
                                padding: 0 30px;

                                @include for-tablet-landscape {
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
    
                                &.active, &:hover {
                                    background-color: #FFC928;
                                }
                            }
    
                            &::before {
                                content: "";
                                border-left: 24px solid #fff;
                                border-top: 24px solid transparent;
                                border-bottom: 24px solid transparent;
                                position: absolute;
                                right: -24px;
                                top: 0;

                                @include for-tablet-landscape {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .slider-bar-container {
        display: flex;
        width: 400px !important;
        position: absolute;
        bottom: 24px;
        margin: 0 auto;

        .slider-bar {
            height: 6px;
            background-color: rgba(155, 155, 155, 0.49);
            width: 100%;
            margin: 0 4px;
            cursor: pointer;
            transition: all .5s ease-in !important;

            &.active {
                background-color: rgba(255, 201, 40, 0.72);
                width: 142px;
                flex-shrink: 0;
            }
        }
    }

    div.slider-content {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 538px;

        div.bg-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: center / cover no-repeat url("../images/dam-4260531_1920.jpg");
            filter: brightness(60%) hue-rotate(-25deg);
            z-index: -1;

            &.fade {
                opacity: 0;
            }
        }

        #main-content-inner {
            padding: 0 40px;
        }

        div.big-dialog, div.dialog {
            max-width: 1054px;
        }

        div.big-dialog {
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;

            p.dialog-content {
                margin: 0;
                font-weight: 500;
                font-size: 48px;
                color: #fff;

                span.regular-highlight {
                    color: #FFC928;
                }
            }

            &::before, &::after {
                content: "";
                display: block;
                width: 150px;
                height: 98px;
                background-color: #FFC928;
                clip-path: polygon(30px 0%, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
            }

            &::before {
                margin-left: auto;
                margin-bottom: 16px;
            }

            &::after {
                margin-top: 16px;
            }
        }

        div.dialog {
            h1.title {
                font-size: 48px;
                font-weight: 500;
                line-height: 59px;
                color: #FFC928;
                margin: 20px 0;
            }

            div.dialog-content {
                color: #fff;
                font-size: 18px;

                &.cols-2 {
                    display: grid;
                    grid-template-columns: repeat(2, calc(50% - 10px));
                    grid-column-gap: 20px;
                }

                &.cols-3 {
                    display: grid;
                    grid-template-columns: repeat(3, calc(calc(100% / 3) - calc(40px / 3)));
                    grid-column-gap: 20px;
                }

                h2.sub-title {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 29px;
                }

                ul {
                    padding-left: 18px;

                    li {
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .jumbotron.jumbotron-fluid {
        height: calc(100vh - 70px);
        position: relative;
        background-color: transparent;
        padding: 0;
        margin: 0;

        .bungkus {
            display: flex;
            overflow: hidden;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            .blur {
                background-image: url("../images/gints-gailis-dn8xoYmzLZg-unsplash.jpg");
                background-size: cover;
                height: 101%;
                width: 101%;
                filter: blur(2px) brightness(60%) hue-rotate(-25deg);
                position: absolute;
                flex-shrink: 0;
            }
        }

        .berita-container {
            .judul-top-container {
                padding: 26px 80px;

                .judul-top {
                    &.hidden {
                        visibility: hidden;
                        opacity: 0;
                    }
    
                    h1 {
                        color: white;
                        padding: 0;
                        margin: 0;
                        font-weight: 500;
                        font-size: 24px;
    
                        span {
                            color: #FFC928;
                        }
                    }
    
                    p {
                        font-weight: 500;
                        font-size: 13px;
                        color: white;
                        padding: 0;
                        margin: 0 0 0 17px;
                    }
                }

                form.search-form {
                    margin-left: auto;

                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }

            .container.scroll {
                padding: 0;
                overflow-x: auto;
                max-width: 100%;
                height: calc(100vh - 166px);
                scrollbar-color: #ffffff47 transparent;
                scrollbar-width: thin;

                .scroll-inner {
                    padding: 0 500px 0 40px;
                    width: min-content;
                    flex-wrap: nowrap;
                    .index{
                        flex: 0 0 auto;

                        .card {
                            height: calc(33% - 10px) !important;
                        }

                        &.first {
                            .card.berita-populer {
                                height: 58% !important;
                            }

                            .card.populer {
                                height: 40px !important;
                            }

                            .card.berita {
                                height: calc(30% - 20px) !important;
                            }
                        }
    
                        .tag {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #163A70;
                        }
                        
                        span.tag {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: #6D6D6D;
                        }                      
    
                        .content {
                            h2 {
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 20px;
                                color: #163A70;
                            }
    
                            .tagline {
                                font-size: 10px;
                                line-height: 12px;
                                color: #6A6A6A;
                            }
    
                            .maincontent {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 20px;
                                color: #000000;
                            }
                        }
    
                        .left {
                            width: 50%;
    
                            .kategori p {
                                font-size: 14px;
                            }
                        }
    
                        .right {
                            .image {
                                background-image: url("../images/gerbang tol pandaan-malang.jpeg");
                            }
                        }
                    }
        
                    .judul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex-shrink: 0;
                        margin-right: 40px;
                        justify-content: center;

                        &.hidden {
                            opacity: 0;
                            visibility: hidden;
                        }
    
                        h1 {
                            color: white;
                            font-size: 48px;
    
                            span {
                                color: #FFC928;
                            }
                        }
    
                        p {
                            color: white;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    form.search-form {
        position: relative;
        width: 384px;

        input[type=text] {
            background-color: #fff;
            width: 100%;
            line-height: 40px;
            padding: 0 89px 0 20px;
            border: 0;

            &::placeholder {
                font-size: 14px;
                color: #969696;
                opacity: 1;
            }
        }

        button {
            position: absolute;
            line-height: 40px;
            padding: 0 10px;
            top: 0;
            right: 0;
            border: 0;
            font-size: 14px;
            background-color: #163A70;
            color: #fff;
        }
    }

    main.main-berita {
        overflow: hidden;

        div.berita-inner {
            padding: 46px 40px 21px;
            margin: 0 auto;
            overflow: hidden;
            max-width: 1028px;

            .breadcrumbs {
                line-height: 40px;
                font-size: 18px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                span {
                    color: rgba(22, 58, 112, 0.69);

                    &.current {
                        color: #000;
                        font-weight: 500;
                        font-size: 24px;
                    }
                }
            }

            .timestamp {
                font-size: 12px;
                line-height: 40px;
                color: rgba(22, 58, 112, 0.69);
            }

            article.berita-content {
                height: calc(100vh - 400px);
                position: relative;

                .berita-image {
                    width: 368px;
                    height: 100%;
                    flex-shrink: 0;
                    background: center center / cover url('');
                }

                .berita-text {
                    width: auto;
                    margin-left: 70px;
                    height: 100%;
                    overflow-y: auto;
                    font-size: 14px;
                    line-height: 30px;
                    padding-right: 6px;
                    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
                    scrollbar-width: thin;

                    span.city {
                        font-weight: 600;
                    }
                }
            }
        }

        .social-media {
            position: fixed;
            top: calc(50% - 90px);
            right: 0;
            font-size: 32px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 68px;
                color: #fff;

                &.facebook {
                    background-color: #163A70;
                }

                &.instagram {
                    background-color: #FC5199;
                }

                &.twitter {
                    background-color: #1da1f2;
                }
            }
        }
    }

    .berita-terkini-cards {
        .berita-terkini-judul {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 20px 0;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(4, calc(25% - 15px));
            grid-column-gap: 20px;
            grid-template-rows: 100px;

            .berita-card {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);

                a.link-judul {
                    font-size: 14px;
                    line-height: 17px;
                    color: #6D6D6D;
                    display: block;
                    padding: 10px;
                    max-height: 64px;
                    overflow: hidden;
                }

                a.button-baca {
                    display: block;
                    line-height: 29px;
                    font-size: 14px;
                    color: #fff;
                    background-color: #163A70;
                    text-align: center;
                    margin-top: auto;
                }
            }
        }
    }

    main.main-content {
        display: none;
        @include for-tablet-landscape {
            display: block;
        }

        a.baca-lengkap {
            width: 330px;
            line-height: 48px;
            text-align: center;
            background-color: #163A70;
            font-size: 12px;
            color: #fff;
            display: block;
        }

        a.massive-btn {
            display: block;
            max-width: 690px;
            line-height: 68px;
            background-color: #163A70;
            color: #fff;
            text-align: center;
            margin: 20px auto 0;
        }

        section.berita-populer {
            padding: 40px;
            position: relative;
            z-index: 2;

            .berita-content {
                display: flex;
                position: relative;
                min-height: 336px;

                .berita-main {
                    margin-right: 20px;
                    .populer-tag {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 40px;
                        color: #163A70;
                    }

                    .berita-title {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 40px;
                    }

                    .timestamp {
                        font-size: 14px;
                        line-height: 17px;
                    }

                    .berita-text {
                        font-size: 14px;
                        line-height: 30px;
                        margin: 16px 0;
                    }
                }

                .berita-image {
                    width: 468px;
                    height: 300px;
                    flex-shrink: 0;
                    background: center / cover url('');
                }
            }

            form.search-form {
                box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
                position: absolute !important;
                bottom: -20px;
                left: calc(50% - 192px);
            }
        }

        section.berita-terkini {
            padding: 60px 40px 40px;
            position: relative;
            background-color: #EDEDED;

            .berita-terkini-tag {
                color: #163A70;
                font-weight: 600;
                font-size: 14px;
                line-height: 40px;
                display: block;
            }

            div.first-berita {
                display: flex;

                .berita-image {
                    width: 315px;
                    height: 367px;
                    flex-shrink: 0;
                    background: center / cover url('');
                }

                div.berita-main {
                    margin-left: 20px;

                    .berita-title {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 40px;
                    }

                    .timestamp {
                        font-size: 14px;
                        line-height: 17px;
                    }

                    .berita-text {
                        font-size: 14px;
                        line-height: 30px;
                        margin: 16px 0;
                    }
                }
            }

            div.berita-terkini-cards {
                margin-top: 20px;

                .card-container {
                    grid-template-rows: 140px;
                }
            }
        }

        section.galeri-video {
            padding: 30px 40px;

            .video-tag {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }

            .video-container {
                max-width: 692px;

                .video-items {
                    display: flex;
                    margin: 20px 0;

                    .video-thumbnail {
                        width: 190px;
                        height: 141px;
                        background: center / cover url('');
                        flex-shrink: 0;
                    }

                    .video-content-wrapper {
                        margin-left: 26px;

                        a h2.video-title {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: #000;
                        }
        
                        .timestamp {
                            font-size: 14px;
                            line-height: 17px;
                            color: #544F4F;
                        }
        
                        article.berita-text {
                            margin-top: 10px;
                            font-size: 12px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}
